@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
}
.box {
    min-width: 20rem;
    min-height: 35rem;    
    width: 25%;
    background-color: #a5bbdd;
    margin: auto;
    border-radius: 10px;
    position: relative;
}
.inputData {
    padding: 20px;  
    }
    .inputData input {
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    }
.info {
    margin-top: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60vh;
}
.location {
    font-size: 5rem;
    text-transform: capitalize;
}
.temp {
    font-size: 3rem;
}
.info .temp {
    font-size: 30px;
    margin: 20px 0 20px 0;
    }
.errorMsg {
    text-align: center;
    font-size: 2rem;
}